@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AldransAltW00-Medium';
  src: url('/fonts/AldransAltW00-Medium.woff2') format('woff2'),
       url('/fonts/AldransAltW00-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text-logo {
  font-family: 'AldransAltW00-Medium', sans-serif;
}
 